<h1>Nuevo Articulo</h1>

<%= form_for(@article) do |f| %>
	<div class='field'>
	<%= f.label :title %>
	<%= f.text_field :title %> 
	</div>

	<div class='field'>
	<%= f.label :content %>
	<%= f.text_field :content %> 
	</div>
	<div class='actions'>
		<%= f.submit %>
	</div>
<% end %>